@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PALESTRA ALUNOS DO JOÃO BLEY</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-primary" onclick="colunaAzul()">CLIQUE AQUI PARA DEIXAR AZUL</button>
            </div>
            <div id="coluna-azul" class="col-sm border border-primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-danger" onclick="colunaVermelha()">CLIQUE AQUI PARA DEIXAR VERMELHO</button>
            </div>
            <div id="coluna-vermelha" class="col-sm border border-danger">
            </div>
        </div>
    </div>
@*    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-warning" onclick="colunaAmarela()">CLIQUE AQUI PARA DEIXAR AMARELO</button>
            </div>
            <div id="coluna-amarela" class="col-sm border border-warning">
            </div>
        </div>
    </div>*@

   @* <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-success" onclick="sortear()">SORTEAR</button>
            </div>
            <div id="resultado-sorteio" class="col-sm border border-success">
            </div>
        </div>
    </div>*@
</div>
