@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PALESTRA ALUNOS DO JOÃO BLEY</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div id="coluna-azul" class="col-sm">
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-danger">Danger</button>
            </div>
            <div id="coluna-vermelho" class="col-sm">
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-warning">Warning</button>
            </div>
            <div id="coluna-amarela" class="col-sm">
            </div>
        </div>
    </div>
</div>
